<sbb-header-lean label="abw-tables">
  <sbb-header-environment>dev</sbb-header-environment>
</sbb-header-lean>

<sbb-icon-sidebar-container>
  <sbb-icon-sidebar>
    <a sbbIconSidebarItem label="Tables" routerLink="/">
      <sbb-icon svgIcon="kom:station-small"></sbb-icon>
    </a>
  </sbb-icon-sidebar>
  <sbb-icon-sidebar-content role="main">
    <sbb-sidebar-container>
      <sbb-sidebar role="navigation">
        <sbb-expansion-panel expanded>
          <sbb-expansion-panel-header>Tables</sbb-expansion-panel-header>
          <a sbbSidebarLink routerLink="/simple">Simple Table</a>
          <a sbbSidebarLink routerLink="/paged">Paged Sorted Table</a>
          <a sbbSidebarLink routerLink="/grouped">Grouped Table</a>
          <a sbbSidebarLink routerLink="/formatted">Formatted Table</a>
          <a sbbSidebarLink routerLink="/filterable">Filterable Table</a>
        </sbb-expansion-panel>
      </sbb-sidebar>
      <sbb-sidebar-content role="main">
        <router-outlet></router-outlet>
      </sbb-sidebar-content>
    </sbb-sidebar-container>
  </sbb-icon-sidebar-content>
</sbb-icon-sidebar-container>

