<abw-example-page title="Simple Table" sourceCodePath="src/app/examples/simple-table">
  <abw-table [dataSource]="dataSource" (rowClick)="handleRowClick($event)">
    <abw-column id="recordId" title="ID" width="10%"></abw-column>
    <abw-column id="line" title="Line" width="25%"></abw-column>
    <abw-column id="from" title="From" width="20%"></abw-column>
    <abw-column id="to" title="To" width="20%"></abw-column>
    <abw-column id="year" title="Year" width="10%"></abw-column>
    <abw-column id="countTrains" title="Train Count" width="15%" justify="right"></abw-column>
  </abw-table>
</abw-example-page>
